html {
  padding: 0 48px;
  margin: 0;
  background-color: $color-white;
  background-size: 12px 12px;
  font-family: $font-alt;
  overflow-x: hidden;
  // background-image: radial-gradient(circle, $color-brand-light 1px, transparent 1px);

  // // RETINA
  // @media (-webkit-min-device-pixel-ratio: 2),
  // (min-resolution: 192dpi) {
  //   background-image: radial-gradient(circle, $color-brand-light 1px, transparent 1px);
  // }

}

.inert {
  cursor: default;

}

html,
body {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.subtle {
  cursor: pointer;
  margin: 0 0 36px 0;


  h1 {
    opacity: 1;
  }

  &:hover {
    h1 {
      opacity: 1;

    }
  }
}

.pull-quote {
  left: -48px;
  float: left;
  margin: 12px -12px 12px 0;
  padding: 12px;
  position: relative;
  text-align: left;
  width: 240px;
  font-size: $type-lg;
  line-height: $type-xl;
  border-top: 6px solid $color-red-default;

  &-right {
    @extend .pull-quote;
    right: -48px;
    left: auto;
    float: right;
    margin: 12px 0 12px -12px;
    padding: 12px;
    position: relative;

  }
}

.paragraph {
  margin: 24px 0 24px 0 ;
  position: relative;
}


.full {
  cursor: pointer;
  margin: 0 0 36px 0;
  font-weight: $regular;
}

.divide {
  background: $color-red-default;
  width: 100%;
  height: 3px;
  margin: 6px 0 0 0;
  display: flex;
  align-self: center;

  &-off {
    background: $color-orange-default;
    @extend .divide;
  }
}

section {

  display: flex;
  padding: 0 12% 144px 12%;
  justify-content: center;
  flex-direction: column;


  h1 {
    font-size: $type-h1;
    color: $color-gray-darker;
    font-weight: $light;
  }


  .left {
    display: inline-flex;
    flex: 1;
    padding: 0 24px;
    align-items: flex-start;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    font-size: $type-copy;

    img {
      cursor: pointer !important;
    }

    h1 {
      font-size: $type-menu;
      color: $color-gray-darker;
      font-weight: $light;
    }

  }

  .right {
    display: flex;
    padding: 0 24px;
    align-items: flex-start;
    font-size: $type-copy;
    flex-direction: column;

    .links {
      margin-top: 24px;

      a {
        border: 1px solid $color-gray-half;
        color: $color-gray-dark;
        padding: 6px 48px;
        border-radius: $radius-default;

        i {
          font-size: $type-copy;
        }

        &:hover {
          border: 1px solid $color-gray-darkest;
          color: $color-gray-darkest;

        }
      }
    }


    p {
      font-size: $type-copy;
      color: $color-gray-darker;
      padding: 0;
      margin: 0 0 12px 0;
    }


    a {
      color: $color-gray-darkest;
      // border: 1px solid $color-gray-half;
      // background: transparent;
      // padding: 6px 24px;
      // width: 200px;
      // justify-content: center;
      // border-radius: $radius-default;
      font-size: $type-lg;
      // font-weight: $default;
      cursor: pointer !important;
      text-transform: uppercase;
      transition: $transition-border;

      &:hover {
        transition: $transition-border;
        // border: 1px solid $color-gray-darkest;
      }
    }



    h2 {
      font-size: $type-h1;
      color: $color-gray-darker;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      padding: 0 0 12px 0;
      margin-left: 16px;

    }


    ul>li {
      font-size: $type-copy;
      color: $color-gray-darker;
      list-style: circle;


    }


  }




}

.header {

  display: flex;
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  padding:48px;
  opacity: 0;
  background: $color-white-default;
  z-index: $z-ultimate;

  animation: delayOpacity;
  animation-duration: .2s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: 5.9s;


  &-left {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    max-width: 465px;
    cursor: pointer;

    img {
      padding: 0 12px 0 0;
    }

  }

  &-right {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    span {
      font-size: $type-sm;
      color: $color-red;
    }
  }
}

.quadrant {
  position: absolute;
  color: $color-gray-darkest;
  display: flex;
  flex-direction: column;
  padding: 72px;

  a {
    border-radius: $radius-round;
    border: 1px solid $color-alt;
    color: $color-alt;
    font-weight: $regular;
    padding: 6px 24px;
    font-size: $type-xxs;
    background: transparent;

    &:hover {
      background: $color-alt;
      color: $color-white;
    }


  }

  &-1 {
    @extend .quadrant;
    left: 48px;
    right: auto;
    top: 0;
    bottom: 50%;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    margin-right: 48px;


  }

  &-2 {
    @extend .quadrant;
    left: auto;
    right: 48px;
    top: 0;
    bottom: 50%;
    text-align: right;
    align-items: center;
    justify-content: flex-start;
    margin-left: 48px;

  }

  &-3 {
    @extend .quadrant;
    left: 48px;
    right: auto;
    top: 50%;
    bottom: 0;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    margin-right: 48px;

  }

  &-3b {
    @extend .quadrant;
    left: 48px;
    right: auto;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    margin-right: 48px;

  }

  &-4 {
    @extend .quadrant;
    left: auto;
    right: 48px;
    top: 50%;
    bottom: 0;
    text-align: right;
    align-items: center;
    justify-content: flex-start;
    margin-left: 48px;

  }

  &-4b {
    @extend .quadrant;
    left: auto;
    right: 48px;
    top: 0;
    bottom: 0;
    text-align: right;
    align-items: center;
    justify-content: flex-start;
    margin-left: 48px;

  }

  &-select {

    position: absolute;
    // transform: translate(-50%);
    transition: all .3s ease;
    position: absolute;



    &-1 {
      @extend .quadrant-select;
      top: 0;
      bottom: 20%;
      width: 100%;
      left: 30%;

      div {
        color: $color-gray-darkest;
        display: flex;
        flex-direction: column;
        padding: 72px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    &-2 {
      @extend .quadrant-select;
      top: 0;
      bottom: 20%;
      width: 100%;
      left: 0;
      right: 30%;

      div {
        color: $color-gray-darkest;
        display: flex;
        flex-direction: column;
        padding: 72px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    &-3 {
      @extend .quadrant-select;
      top: 50%;
      bottom: 20%;
      width: 100%;
      left: 30%;

      div {
        color: $color-gray-darkest;
        display: flex;
        flex-direction: column;
        padding: 72px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    &-4 {
      @extend .quadrant-select;
      top: 50%;
      bottom: 0;
      width: 100%;
      left: 0;
      right: 30%;

      div {
        color: $color-gray-darkest;
        display: flex;
        flex-direction: column;
        padding: 72px;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    &-0 {
      position: unset;
    }

  }
}

.follow {
  display: flex;
  position: absolute;
  top: calc(50% + 60px);
  left: 10%;
  right: 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;

  @media (min-width: $break-sm) {
    left: 20%;
    right: 20%;
  }


}


.flex-container {
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  &-lineY {
    animation: delayGrowY;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: inherit;
    animation-delay: .4s;
    height: 0;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid $color-gray-slight;
    transform: translate(-50%);
    transition: all .3s ease;


    &-q0 {
      @extend .flex-container-lineY;
      top: 0;
      right: 50%;
      bottom: 0;
      left: 50%;
    }

    &-q1 {
      @extend .flex-container-lineY;
      top: 0;
      bottom: 0;
      left: 95%;
      right: 5%;
    }

    &-q2 {
      @extend .flex-container-lineY;
      top: 0;
      bottom: 0;
      left: 5%;
      right: 95%;
    }

    &-q3 {
      @extend .flex-container-lineY;
      top: 0;
      bottom: 0;
      left: 95%;
      right: 5%;
    }

    &-q4 {
      @extend .flex-container-lineY;
      top: 0;
      bottom: 0;
      left: 5%;
      right: 95%;
    }
  }

  &-lineX {
    animation: delayGrowX;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: inherit;
    animation-delay: .7s;
    width: 0;
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $color-gray-slight;
    transition: all .3s ease;

    &-q0 {
      @extend .flex-container-lineX;
      top: 50%;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &-q1 {
      @extend .flex-container-lineX;
      top: 90%;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &-q2 {
      @extend .flex-container-lineX;
      top: 90%;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &-q3 {
      @extend .flex-container-lineX;
      top: 5%;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &-q4 {
      @extend .flex-container-lineX;
      top: 5%;
      bottom: 0;
      left: 0;
      right: 0;
    }

  }


}

.row {
  width: 100%;
}

.flex-item {
  text-align: center;
  height: auto;
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 0;
  position: absolute;
  // top: calc(50% - 36px);
  right: 50%;
  bottom: 50%;
  left: 50%;
  pointer-events: none;
  transition: all .3s ease;

  &-q0 {
    text-align: center;
    height: auto;
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
    position: absolute;
    top: calc(50% - 36px);
    right: 50%;
    bottom: 50%;
    left: 50%;
    transition: all .3s ease;

    img {
      cursor: pointer;
      transform: scale(1);
      transition: $transition-scale;

      &:hover {
        transform: scale(1.1);
        transition: $transition-scale;
      }
    }
  }


  &-q1 {
    @extend .flex-item-q0;

    top: calc(90% - 36px);
    right: 5%;
    bottom: 0;
    left: 95%;

  }

  &-q2 {
    @extend .flex-item-q0;
    top: calc(90% - 36px);
    left: 5%;
    bottom: 0;
    right: 95%;

  }

  &-q3 {
    @extend .flex-item-q0;
    top: calc(5% - 36px);
    left: 95%;
    bottom: 90%;
    right: 5%;

  }

  &-q4 {
    @extend .flex-item-q0;
    top: calc(5% - 36px);
    left: 5%;
    right: 95%;

  }
}


.nudge {
  &-xxs {
    margin-bottom: 3px;
  }

  &-xs {
    margin-bottom: 6px;
  }

  &-sm {
    margin-bottom: 16px;
  }

  &-md {
    margin-bottom: 24px;
  }

  &-lg {
    margin-bottom: 35px;
  }

  &-xl {
    margin-bottom: 65px;
  }

  &-xxl {
    margin-bottom: 120px;
  }
}

.MuiBackdrop-root {
  background: $color-white-medium  !important;
}



#about .MuiDrawer-paper {
  padding: 0 !important;
  width: 240px;
  background: $color-gray;
  box-shadow: none;
  color: $color-white;
  text-transform: uppercase;

  padding: 48px !important;

  i {
    font-size: $type-lg;
    color: $color-gray-darkest;
    padding: 0 3px;
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 24px;
  }

  p {
    font-size: $type-copy;
    font-weight: $default;
    line-height: $type-md;
    text-transform: none;
  }

  h2 {
    font-size: $type-h2;
    font-weight: $default;
    color: $color-red;
  }

  @media (min-width: $break-sm) {
    width: 500px !important;
  }
}



.MuiInputBase-input,
.MuiInput-input {
  color: $color-gray-darkest  !important;
  font: $default $type-sm $font-default  !important;
}


.MuiInput-underline:after {
  border-bottom: 1px solid $color-gray-dark  !important;
}

.MuiInput-underline.Mui-error:after {
  border-bottom: 1px solid $color-gray-dark  !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid $color-gray-dark  !important;
}

.MuiFormControl-root label {
  color: $color-gray-dark  !important;
  font-size: $type-default  !important;
}



::-webkit-input-placeholder {
  color: $color-gray-darkest;
  font-weight: $default;
  padding: 0 3px;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $color-gray-darkest;
  font-weight: $default;
  padding: 0 3px;
  opacity: 1;
}

::placeholder {
  color: $color-gray-darkest  !important;
  font-weight: $default;
  padding: 0 3px;
  opacity: 1;
}