.fade-in {
  opacity: 0;
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
}

.fade-in-delay {
  opacity: 0;
  animation: fadeInAlt;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: 0.4s;
}

.fade-out-delay {
  opacity: 1;
  animation: fadeOut;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: 0.5s;
}

.fade-out {
  opacity: 1;
  animation: fadeOut;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
}

.delay-2s {
  animation: delay;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: 2s;
  opacity: 0;
}



.delay-1s {
  animation: delay;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: 1s;
  opacity: 0;
}

.delay-q1 {
  animation: delaySlideRight;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: 6.5s;
  opacity: 0;

}

.delay-q2 {
  animation: delaySlideRight;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: 6.6s;
  opacity: 0;
}

.delay-q3 {
  animation: delaySlideLeft;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: 6.7s;
  opacity: 0;
}

.delay-q4 {
  animation: delaySlideLeft;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: 6.8s;
  opacity: 0;
}

.time-ms-300 {
  animation: delay;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: .3s;
  opacity: 0;
}

.time-ms-400 {
  animation: delay;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: .4s;
  opacity: 0;
}

.time-ms-500 {
  animation: delay;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: .5s;
  opacity: 0;
}

.time-ms-750 {
  animation: delay;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: .75s;
  opacity: 0;
}

.time-ms-1000 {
  animation: loadFromZero;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: 1s;
  left: 0;
}


.delay {
  animation: delay;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: 0.3s;
  opacity: 0;
}

@keyframes delay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes delaySlideLeft {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes delaySlideRight {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes delayGrowY {
  0% {
    // opacity: 0;
    height: 0;
  }

  100% {
    // opacity: 1;
    height: 100%;
  }
}

@keyframes delayGrowX {
  0% {
    // opacity: 0;
    width: 0;
  }

  100% {
    // opacity: 1;
    width: 100%;
  }
}

.delay-1 {
  animation: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: 0.5s;
  opacity: 0;
}

.delay-2 {
  animation: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: 0.75s;
  opacity: 0;
}

.delay-3 {
  animation: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: 2.5s;
  opacity: 0;
}

@keyframes delayLong {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes downEnter {
  0% {
    clip-path: inset(0 0 100% 0);
    transform: translateY(-12px);
    opacity: 0;
  }

  100% {
    clip-path: inset(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes borderFadeOut {
  0% {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }

  50% {
    border-top: 1px solid $color-pink-half;
    border-right: 1px solid $color-pink-half;
    border-bottom: 1px solid $color-pink-half;
    border-left: 1px solid $color-pink-half;
  }

  100% {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
}

@keyframes borderSideFadeOut {
  0% {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }

  50% {
    border-top: 1px solid transparent;
    border-right: 1px solid $color-pink-half;
    border-bottom: 1px solid transparent;
    border-left: 1px solid $color-pink-half;
  }

  100% {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
}

@keyframes borderTopFadeOut {
  0% {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }

  50% {
    border-top: 1px solid $color-pink-half;
    border-right: 1px solid transparent;
    border-bottom: 1px solid $color-pink-half;
    border-left: 1px solid transparent;
  }

  100% {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-play-state: inherit;
}

.pulse-slow {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-play-state: inherit;
}

.pulse-10s {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-iteration-count: 10;
  animation-play-state: inherit;
}

.pulse-once {
  animation-name: pulse;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: inherit;
}

.pulse-fast-delay {
  animation-name: pulseDelay;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: 3;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: inherit;
  animation-delay: 1.2s;
  opacity: 0;
}

.pulse-turbo {
  animation-name: pulse;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: 3;
  animation-play-state: inherit;
}

.pulse-fast {
  animation-name: pulse;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-play-state: inherit;
}

.shiver {
  animation-name: shiver;
  animation-duration: 0.1s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-iteration-count: 2;
  animation-play-state: inherit;
}

@keyframes shiver {
  0% {
    background: $color-gray-slight;
    transform: translateX(0);
  }

  33% {
    background: $color-red-note;
    transform: translateX(-5px);
  }

  33% {
    background: $color-red-note;
    transform: translateX(5px);
  }

  100% {
    background: $color-gray-slight;
    transform: translateX(0);
  }
}

.zoom-in {
  animation-name: zoomIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: inherit;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.2);
  }

  100% {
    transform: scale(1);
  }
}

.beating {
  animation-name: beat;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-play-state: inherit;
  color: $color-gray-dark;

  &-fast {
    @extend .beating;
    animation-duration: 0.3s;
  }
}

@keyframes beat {
  0% {
    transform: scale();
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.nudge-right {
  animation-name: nudgeRight;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
}

@keyframes nudgeRight {
  from {
    margin-left: -10px;
  }

  to {
    margin-left: 0;
  }
}


@keyframes slideInThenOut {
  0% {
    opacity: 0;
    transform: translateX(14px);
  }

  1% {
    opacity: 1;
    transform: translateX(12px);
  }

  3% {
    opacity: 1;
    transform: translateX(0);
  }

  97% {
    opacity: 1;
    transform: translateX(0);
  }

  99% {
    opacity: 1;
    transform: translateX(12px);
  }

  100% {
    opacity: 0;
    transform: translateX(14px);
  }
}

@keyframes fadeInThenOut {
  0% {
    opacity: 0;
    transform: translateY(-6px);
  }

  1% {
    opacity: 1;
    transform: translateY(3px);
  }

  3% {
    opacity: 1;
    transform: translateY(2px);
  }

  97% {
    opacity: 1;
    transform: translateY(2px);
  }

  99% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-24px);
  }
}



@keyframes fadeOutLong {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  3% {
    opacity: 1;
  }

  97% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes flipFlop {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(-1);
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(24px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slideFromRight .72s ease;
}

@keyframes slideUp {
  0% {
    height: 0;
  }

  100% {
    height: 108px;

  }
}



@keyframes scrollAlways {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes slideFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.zoom-out {
  animation-name: zoomOut;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: inherit;
  opacity: 0;
  transform-origin: center;
  transform: scale(1);
  transition: $transition-scale;

}



@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(3) rotate(12deg);

  }

  36% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0deg);

  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.pop-in {
  animation-name: popIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: inherit;
  opacity: 0;
  transform-origin: center;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes black2blue {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@keyframes blue2black {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes dark2light {
  0% {
    color: $color-gray-darker;
  }

  40% {
    color: $color-white;
    border-bottom-color: $color-white-half;
  }

  100% {
    color: $color-white;
    border-bottom-color: $color-white-half;
  }
}

.spin {
  animation: spin 1s infinite linear;
  transform-origin: center center;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinHalf {
  0% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes borderPulse {
  0% {
    border: 1px solid $color-orange-note;
  }

  50% {
    border: 1px solid $color-orange-default;
  }

  100% {
    border: 1px solid $color-orange-note;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulseBackground {
  0% {
    background: $color-brand-hint;
  }

  50% {
    background: $color-brand-light;
  }

  100% {
    background: $color-brand-hint;
  }
}

@keyframes pulseFade {
  0% {
    opacity: 0.5;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0.5;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0.5;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pulseDelay {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flex {
  from {
    flex: 0 0;
  }
}

@keyframes load {
  from {
    width: 0;
  }
}

@keyframes elastic {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}


@keyframes loadFromZero {
  from {
    left: 0%;
  }
}