.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  justify-content: flex-end;
  text-transform: uppercase;
  height: 84px;
  padding: 0 48px;
  background-color: $color-gray;
  margin: 0 auto;
  z-index: $z-nav;

  &-left {
    display: inline-flex;
    flex: 1;
    align-items: center;

    a {
      padding: 6px 48px;
      border-radius: $radius-default;
      font-size: $type-default;
      font-weight: $regular;
      margin: 0 36px 0 0;
      background: transparent;
      color: $color-gray-dark;
      border: 1px solid $color-gray-half;
      transition: $transition-background;
      
      &:hover {
        transition: $transition-background;
        border: 1px solid $color-gray-darkest;
        color: $color-gray-darkest;
       
      }
    }
  }

  &-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: $type-default;
    font-weight: $default;
    color: $color-gray-darkest;
    text-transform: none;

    i {
      color: $color-red;
      font-size: $type-default;
      padding: 0 6px;
    }
  }
}