.link,
a {
  color: $color-brand-default;
  width: auto;
  text-decoration: none;
  font-size: $type-default;
  text-transform: uppercase;
  font-weight: $default;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: $color-brand;
  }

  &:hover span {
    color: $color-white;
    background: $color-white-slight;
    transition: $transition-color;

  }



}