.link,
a {
  color: $color-brand-default;
  width: auto;
  text-decoration: none;
  font-size: $type-default;
  text-transform: uppercase;
  font-weight: $default;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: $color-brand;
  }

  &:hover span {
    color: $color-white;
    background: $color-white-slight;
    transition: $transition-color;

  }

  &-default {
    color: $color-white;
    padding:6px 36px;
    border-radius: $radius-default;
    display: inline-flex;
    align-self: baseline;
    background: $color-gray-dark;

    i {
      font-size: $type-copy;
    }

    &:hover {
      color: $color-white;
      background: $color-gray-darkest;

    }
  }



}