p {
  color: $color-gray-darkest;
  font-size: $type-sm;
  font-weight: $default;
  line-height: $type-xl;

}

h1 {
  font-weight: $default;
  color: $color-alt-default;
  margin: 0;
  padding: 0;
  line-height: auto;
  font-size: $type-h1;

  strong {
    font-weight: $regular;
  }

}

h2 {
  font-weight: $default;
  color: $color-alt-default;
  margin: 0;
  padding: 0;
  font-size: $type-h2;
  justify-content: center;

  strong {
    font-weight: $regular;
  }
  
}

h3 {
  color: $color-alt-default;
  padding: 0;
  margin: 0;
  font-weight: $default;
  font-size: $type-h3;
}

h4 {
  color: $color-alt-default;
  padding: 0;
  margin: 0;
  font-weight: $default;
  font-size: $type-h4;
  text-align: right;

  strong {
    font-weight: $bold;
    color: $color-alt-default;
  }
}

