.general {

  &-grid {
    height: 100%;
    background: $color-white-element;
    
    small {
      position: absolute;
      top: 24px;
      left: 24px;
      
    }


  }

  &-item {
    grid-column: 1 / -1;
    grid-gap: 16px;
    display: grid;
    grid-template-columns: 45px 150px auto;
    align-items: center;
    font-weight: $default;
    color: $color-white;
    margin: 0 24px 0 0;
  }

  &-data {
    display: flex;
    flex-direction: column;

    h3 {
      color: $color-white;
      padding: 0 !important;
      margin: 0 !important;
      font-weight: $default !important;
      font-size: $type-h3;

    }
    small {
      padding: 0;
      margin: 0;
      color: $color-white-default;
      font-weight: $default;
      font-size: $type-tiny;
    }
 
  }

}


// lines that animate around a box 
// {!dragEnabled && (
//   <div className="border_box">
//     <span class="line line04"></span>
//     <span class="line line03"></span>
//     <span class="line line02"></span>
//     <span class="line line01"></span>
//     </div>
// )}

.border_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  animation: fadeOut 1.2s linear;
  animation-iteration-count: 1;
  opacity: 0;
  pointer-events: none;
}
.line{
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: $color-brand-half;
  opacity: 0;
}
.line01{
  top: 0;
  left: 100%;
  width: 1px;
  height: 100%;
  transform-origin: top;
  animation: animation01_line01 0.1s linear 0.3s forwards;
}
.line03{
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  transform-origin: bottom;
  animation: animation01_line01 0.2s linear 0.6s forwards;
}
@keyframes animation01_line01{
  0%{
      transform: scale3d(1,0,1);
      opacity: 1;
  }
 
  100%{
      transform: scale3d(1,1,1);
      opacity: 1;
  }
}
.line02{
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  transform-origin: right;
  animation: animation01_line02 0.2s linear 0.4s forwards;
}
.line04{
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform-origin: left;
  animation: animation01_line02 0.2s linear 0.8s forwards;
}
@keyframes animation01_line02{
  0%{
      transform: scale3d(0,1,1);
      opacity: 1;
  }

  100%{
      transform: scale3d(1,1,1);
      opacity: 1;
  }
}

