.MuiBackdrop-root {
  background: $color-gray-dark !important;
}

.MuiInput-underline:after {
  border: none !important;
}

.MuiInputBase-root, .MuiInput-multiline {
  background-color: transparent !important;
  color: $color-white !important;
  outline: none !important;
  border: none !important;
  padding: 24px 48px !important;
  border: 1px solid transparent !important;
}

#unicorn .MuiDrawer-paper,
#power .MuiDrawer-paper {
  width: 240px;
  background: $color-gray-default;
  border-left: 2px solid $color-brand-slight;
  box-shadow: none;
  padding: 72px;
  color: $color-white;
  text-transform: uppercase;

  i {
    font-size: $type-xxl;
    color: $color-brand;
    padding: 0 3px;
  }

  p {
    font-size: $type-md;
    font-weight: $default;
    line-height: $type-xxl;
  }
  h1 {
    font-size: $type-h1;
    font-weight: $light;
  }
  h2 {
    font-size: $type-h3;
    font-weight: $default;
    color: $color-white;
  }
  h3 {
    font-size: $type-h3;
    font-weight: $default;
    color: $color-brand;
  }

  h4 {
    font-size: $type-sm;
    font-weight: $default;
    color: $color-white;
    margin: 12px 0;

    i {
      padding: 0 12px;
      font-size: $type-sm;
      align-self: center;
      color: $color-mid;
    }

    b {
      color: $color-mid;
      font-weight: $regular;
      padding: 0 6px;
    }
  }

  @media (min-width: $break-sm) {
    width: 500px !important;
  }

}


#chat .MuiDrawer-paper {
  padding: 0 !important;
  width: 240px;
  background: $color-gray-default;
  border-left: 2px solid $color-brand-slight;
  box-shadow: none;
  color: $color-white;
  text-transform: uppercase;

  i {
    font-size: $type-xxl;
    color: $color-brand;
    padding: 0 3px;
  }

  p {
    font-size: $type-md;
    font-weight: $default;
    line-height: $type-xxl;
  }
  h1 {
    font-size: $type-h1;
    font-weight: $light;
  }
  h2 {
    font-size: $type-h3;
    font-weight: $default;
    color: $color-white;
  }
  h3 {
    font-size: $type-h3;
    font-weight: $default;
    color: $color-brand;
  }

  h4 {
    font-size: $type-sm;
    font-weight: $default;
    color: $color-white;
    margin: 12px 0;

    i {
      padding: 0 12px;
      font-size: $type-sm;
      align-self: center;
      color: $color-mid;
    }

    b {
      color: $color-mid;
      font-weight: $regular;
      padding: 0 6px;
    }
  }

  @media (min-width: $break-sm) {
    width: 500px !important;
  }
}
